
<%= simple_form_for(@page) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h2>
      <%= f.input :bio, input_html:{class:"input-lg"}%>
      <%= f.input :background_color, input_html:{class:"input-lg"}, label: 'Background color'%>

      <%= f.input :button_background_color, input_html:{class:"input-lg"}, label: 'Button background color' %>

      Upload an image to <%= link_to 'tinyimg', 'https://tinyimg.io/'%> then paste the image name in here for a custom background and buttons
      <%= f.input :banner_url           , label: 'Banner url'           , placeholder: 'aaaaaaa.jpg', input_html: { maxlength: 12, minlength: 11,class:"input-lg" } %>
      <%= f.input :background_url       , label: 'Background url'       , placeholder: 'aaaaaaa.jpg', input_html: { maxlength: 12, minlength: 11,class:"input-lg" }  %>
      <%#= f.input :button_background_url, label: 'Button background url', placeholder: 'aaaaaaa.jpg', input_html: { maxlength: 12, minlength: 11,class:"input-lg" } %>
      You can help support the website by allowing users to see my game
      <br>
      <br>
      Users who choose to keep this option on will be first on the list of pages as supporters
      <%= f.input :ad_visible, input_html:{class:"input-lg"}, label: 'Supporter' %>
    </h2>
  </div>
<br>
  <div class="form-actions">
    <%= f.button :submit, class:"btn btn-lg btn-primary"  %>

  </div>
  <br>
<% end %>
