<p id="notice"><%= notice %></p>

<h2>User pages</h2>
<ul class="list-group">
  <% @pages.where(ad_visible:true).each do |page| %>
    <li class="list-group-item">
      <h2>
        <%= link_to "#{page.user.username.pluralize} links" , page_path(page),
          class: "list-group-item list-group-item-action"
        %>
      </h2>

      <%if user_signed_in? && current_user.authorisation >= 30%>
        <tr>
          <td><%= link_to 'Show', page %></td>
          <td><%= link_to 'Edit', edit_page_path(page) %></td>
          <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </li>
  <% end %>
</ul>
<br>
