<p id="notice"><%= notice %></p>
<h1><%=@page.user.username.pluralize%> page</h1>
<h2>
bio: <%= @page.bio%><br>
banner: <%= @page.banner_url%><br>
background color: <%= @page.background_color%><br>
background url: <%= @page.background_url%><br>
button color: <%= @page.button_background_color%><br>
button url: <%= @page.button_background_url%><br>
supporter: <%= @page.ad_visible%><br>
</h2>
<% if @page.user == current_user || (user_signed_in? && current_user.authorisation >=30)%>
  <%= link_to 'Edit', edit_page_path(@page) %>
<% end %>
