<h1>Log in</h1>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <h2>
    <%= f.input :email, input_html:{class:"input-lg"}, required: false, autofocus: true %>
    <%= f.input :password, input_html:{class:"input-lg"}, required: false %>
    <%= f.input :remember_me, input_html:{class:"input-lg"}, as: :boolean if devise_mapping.rememberable? %>
    </h2>
  </div>
<br>
  <div class="form-actions">
    <%= f.button :submit, "Log in", class:"btn btn-lg btn-primary" %>
  </div>
  <br>
<% end %>
<h2>
<%= render "devise/shared/links" %>
</h2>
